*::-webkit-scrollbar {
  display: none;
  background-color: rgba(255, 255, 255, 0.6);
}

body {
  margin: 0 auto;
  padding: 20px;
  width: '100%';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  text-decoration: none;
  color: black;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

header nav a.active {
  border-bottom: 3px solid #69837a;
}

.county {
  margin: 5px;
  padding: 10px;
  border-radius: 20px;
  box-shadow: 0 3px 5px rgba(106, 97, 97, 0.2);
}

.inactive-money {
  opacity: 0.2;
}